.OpponentShakingFist img {
  animation: fistPumpRight 0.4s ease-in-out infinite;
}

.PlayerShakingFist img {
  animation: fistPumpLeft 0.4s ease-in-out infinite;
}

@keyframes fistPumpRight {
  0%,
  100% {
    transform: translateY(90px) scaleX(-1) rotate(20deg);
  }
  50% {
    transform: translateY(0) scaleX(-1) rotate(-50deg);
  }
}

@keyframes fistPumpLeft {
  0%,
  100% {
    transform: translateY(90px) rotate(20deg);
  }
  50% {
    transform: translateY(0) rotate(-50deg);
  }
}
